<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style>
			.on{color:red;text-decoration:none;}
			.ng-control-waterfall{width:960px;}
			.waterfall_column{float:left;}
			.cell{width:230px;background:#efefef;text-align: center;}
			.son{background:red;}
		</style>
	</head>
	<body>
		<div ng-app="test" class="main" ng-route="approute">
			<div ng-page="home">
				<div ng-view="headera" ng-class="{true:'son',false:''}">
					<div ng-control="nava"><a href="/list" ng-item="gohomea">home</a> <a href="#product" ng-item="goproducta" ng-click="goproduct_click">product</a> <a href="#service" ng-item="goservicea" ng-click="goservice_click">service</a></div>
				</div>
				<div ng-view="maina" ng-show="show">
					<img ng-item="aaab" src="" ng-src="http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg" />
					<div ng-control="list" ng-list="getlist_post(list_callback,list_callback,list_callback,list_callback)">
						<div ng-item="list_tmpl_{{id}}" ng-swipe="swipetest">
							<h1>{{title | filter : 'a'}}</h1>
							<p>{{decoration}}</p>
							<a href="#" ng-tap="taptest" ng-item="list_removeitem" ng-click="list_removeitem_click" data-id="{{id}}">删除</a> <a href="#" ng-tap="taptest" ng-item="list_upitem" ng-click="list_upitem_click" data-id="{{id}}">收起</a>
						</div>
					</div>
					<div ng-control="list_pagenum" ng-list="getnum_get"><a href="{{num}}" ng-item="pagenum_{{num}}" ng-click="pagenum_click">{{shownum}}</a></div>
					1
				</div>
				<div ng-view="waterfall">
					<div ng-control="waterfall" ng-list="getWaterFall_get" ng-repeat="" ng-waterfall="waterfall_callback">
						<div ng-item="cell" class="cell">
					      <div class="img_wrap"><a href="{{url}}" target="_blank" ng-item="waterfall_bigpic_{{index}}" ng-click="waterfall_bigpic_click"><img src="" ng-item="waterfall_item_img_{{index}}" ng-src="{{pictureUrl}}" /></a></div>
					      <div class="pinp_logo"><a href="javascript:;" ng-item="waterfall_smallpic_{{index}}" ng-click="waterfall_attent_click"><span class="attent_button attent_obj" ng-item="waterfall_noattent_button_{{index}}">关 注</span><span class="attent_button attent_button_ok" style="display:none;" ng-item="waterfall_attent_button_{{index}}">已关注</span></a></div>
					      <p class="pinp_txt">{{title}}</p>
					    </div>
					</div>
				</div>
				<div ng-view="footera">&copy;2015.</div>
			</div>
			<div ng-page="product">
				<div ng-view="headerb">
					<div ng-control="navb"><a href="#home" ng-item="gohomeb">home</a> <a href="/list#1" ng-item="goproductb">product</a> <a href="#service" ng-item="goserviceb" ng-click="goservice_click">service</a></div>
				</div>
				<div ng-view="mainb">
					<div ng-control="form" ng-tmpl="getform_get">
						<input type="text" value="{{test | test : 'a'}}" name="test" ng-item="test_input" ng-keyup="test_keyup" />
						<p><span ng-item="test_result"></span></p>
					</div>
					2
				</div>
				<div ng-view="footerb">&copy;2015.</div>
			</div>
			<div ng-page="service">
				<div ng-view="headerc">
					<div ng-control="navc"><a href="#home" ng-item="gohomec">home</a> <a href="#product" ng-item="goproductc" ng-click="goproduct_click">product</a> <a href="#/117-a/b/c/open" ng-item="goservicec" ng-click="goservice_click">service</a></div>
				</div>
				<div ng-view="mainc">
					<div ng-control="aaa">
						<select ng-item="select" name="select" ng-list="getselect_get" ng-change="select_change" ng-valid="required:不能为空:selecterror"><option value="{{value}}">{{title}}</option></select>
						<span ng-item="selectval"></span>
						<span ng-item="selecterror"></span>
						<input ng-item="inputvalid" name="inputvalid" ng-valid="required:不能为空:inputerror" value="" />
						<span ng-item="inputerror"></span>
						<input ng-item="inputvalid_a" name="inputvalid_a" ng-valid="required:不能为空:input_aerror" value="" />
						<span ng-item="input_aerror"></span>
						<div ng-item="modeltest" ng-test=""></div>
					</div>
					3
				</div>
				<div ng-view="footerc">&copy;2015.</div>
			</div>
		</div>

		<script src="jquery.js"></script>
		<script src="kim.js"></script>
		<script src="kim.route.js"></script>
		<script src="kim.valid.js"></script>
		<script src="kim.list.js"></script>
		<script src="kim.tmpl.js"></script>
		<script src="kim.class.js"></script>
		<script src="kim.imgsrc.js"></script>
		<script src="kim.waterfall.js"></script>
		<script src="kim.define.js"></script>
		<script>
		;
		(function() {
			var data = [{
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 0,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title0"
			}, {
				url: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				index: 1,
				pictureUrl: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				logoUrl: "#",
				title: "title1"
			}, {
				url: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				index: 3,
				pictureUrl: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				logoUrl: "#",
				title: "title3"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 4,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title4"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 2,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title2"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 2,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title2"
			}, {
				url: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				index: 5,
				pictureUrl: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				logoUrl: "#",
				title: "title5"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 6,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title6"
			}, {
				url: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				index: 7,
				pictureUrl: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				logoUrl: "#",
				title: "title7"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 2,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title2"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 8,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title8"
			}, {
				url: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				index: 9,
				pictureUrl: "http://y1.ifengimg.com/a/2015_18/0673940f393fd15.jpg",
				logoUrl: "#",
				title: "title9"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 2,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title2"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 10,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title10"
			}, {
				url: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				index: 2,
				pictureUrl: "http://y2.ifengimg.com/a/2015_19/c353c45804e1675.jpg",
				logoUrl: "#",
				title: "title2"
			}];

			define(function(require, exports, module) {
				jQuery.kim.modelExtend({
					test: function(elem) {
						var self = this;
						jQuery(elem).html("test");
						return this;
					}
				});

				jQuery.kim.filterExtend({
					test: function(data, name, filterCondition){
						console.log(name);
						return data[name]
					}
				});

				jQuery.extend(jQuery.kim.fn, {
					toggle: function(app, type, val) {
						var self = this,
							elem;
						jQuery.each(self.app[app][type], function(i, obj){
							jQuery(obj).hide().attr("ng-show", "hide");
						});
						self.app[app][type][val] && (elem = self.app[app][type][val], jQuery(elem).show().attr("ng-show", "show"));
						if (elem){
							self.get(elem);
						}
						return this;
					},
					toggleClass: function(val, bool) {
						var self = this;
						self.get(typeof bool != "undefined" && jQuery(self).hasClass(val) == bool || jQuery(self).hasClass(val) ? jQuery(self).removeClass(val) : jQuery(self).addClass(val));
						return this;
					}
				});
			});

			define("getWaterFall_get", function(require, exports, module){
				return function(render){
					render(data);
				}
			});

			define("init", function(require, exports, module) {
				return function(target){
					//target.app["test"].item["gohomea"].click();
				}
			});

			define("list_removeitem_click", function(require, exports, module) {
				return function(target){
					jQuery(target).parents(".ng-item").hide();
				}
			});

			define("list_upitem_click", function(require, exports, module){
				return function(elem, target){
					var parent = target.app["test"].item["list_tmpl_"+jQuery(this).attr("data-id")];
					if (!jQuery(this).data("isshow")){
						var h = jQuery(parent).height();
						jQuery(this).data("height", h).data("isshow", true);
						jQuery(parent).animate({
							height: h/2
						}, "slow");
					}else{
						jQuery(this).data("isshow", false)
						jQuery(parent).animate({
							height: jQuery(this).data("height", h)
						}, "slow");
					}
				}
			});

			define("input_aerror", function(require, exports, module){
				return function(target, tip){
					jQuery(target).show().html(tip);
				}
			});

			define("select_change", function(require, exports, module){
				return function(elem, target){
					target.app["test"].item["selectval"].html(jQuery(elem).val());
				}
			});

			define("getselect_get", function(require, exports, module){
				return function(render){
					var data = [{
						value:"",
						title:"请选择..."
					},{
						value:1,
						title:"aaa"
					},{
						value:2,
						title:"bbb"
					},{
						value:3,
						title:"ccc"
					},{
						value:4,
						title:"ddd"
					}];
					render(data);
				}
			});

			define("pagenum_click", function(require, exports, module){
				return function(elem){
					alert(jQuery(elem).attr("href"));
				}
			});

			define("getform_get", function(require, exports, module){
				return function(render){
					var data = {
						test: "input data"
					};
					render(data);
				}
			});

			define("test_keyup", function(require, exports, module){
				return function(elem, target){
					target.app["test"].item["test_result"].html(jQuery(elem).val());
				}
			});

			define("getnum_get", function(require, exports, module){
				return function(render){
					render([{num:0, shownum:1},{num:1, shownum:2}]);
				}
			});

			define("getlist_post", function(require, exports, module){
				return function(render){
					var data = [
						{
							id:0,
							title:"adfasdfasdfas00",
							decoration:"adfasdfasdfasdfasdfasdfasd"
						},{
							id:1,
							title:"adfasdfasdfas11",
							decoration:"adfasdfasdfasdfasdfasdfasd"
						},{
							id:2,
							title:"adfasdfasdfas22",
							decoration:"adfasdfasdfasdfasdfasdfasd"
						},{
							id:3,
							title:"adfasdfasdfas33",
							decoration:"adfasdfasdfasdfasdfasdfasd"
						}
					];
					render(data);
				}
			});

			define("gotab_click", function(require, exports, module){
				return function(elem, target, page, name){
					target.toggle("test", "page", page).find("ng-item").toggleClass('on', false).eq("ng-item-"+name).toggleClass('on');
				}
			});

			define("waterfall_callback", function(require, exports, module){
				return function(options, callback){
					var self = this;
					jQuery.extend(options, {
						column_width: 230,
						column_space: 10,
						getColumnItems: function(index, type, render) {
							if (index>=4) return;
							var tmpl = jQuery(this).data("tmpl"),
								html = [];
							jQuery.each(data, function(i, obj){
								html.push(kim.tmpl(obj, tmpl));
							});
							render(jQuery(html.join('')), function(elem){
								self.build(elem);
							});
						},
						onRefresh: function() {

						},
						itemInit: function(elem) {

						}
					});
					callback(options);
				}
			});

			define("routeConfig", function(require, exports, module){
				return {
							root: ".",
							config:{
								"/list": {
									guide: "/bbb/list.html",
									control: "nava"
								},
								"/list:id": {
									guide: "/ccc/list.html",
									control: "navb"
								},
								":/bba/open":{
									guide: "open",
									control: "navc"
								},
								"^(.*)\/open$":{
									guide: "open",
									control: "navc"
								}
							},
							handle: {
								open: function(func, elem) {
									alert(func);
								},
								approute: function(elem, id) {
									alert(id)
								}
							}
						};
			});

			define(function(require, exports, module) {
				var init = require("init"),
					list_removeitem_click = require("list_removeitem_click"),
					list_upitem_click = require("list_upitem_click"),
					input_aerror = require("input_aerror"),
					select_change = require("select_change"),
					getselect_get = require("getselect_get"),
					pagenum_click = require("pagenum_click"),
					getform_get = require("getform_get"),
					test_keyup = require("test_keyup"),
					getnum_get = require("getnum_get"),
					waterfall_callback = require("waterfall_callback");

				var num = 1;
				jQuery.kim.require.use(["getlist_post","gotab_click","getWaterFall_get"], function(result){
					var getlist_post = result["getlist_post"],
						gotab_click = result["gotab_click"],
						getWaterFall_get = result["getWaterFall_get"];

					jQuery(".main").kim({
						initialization: function() {
							init(this);
							//this.app["test"].view["headera"].selected(true);
						},
						route: require("routeConfig"),
						handle: {
							waterfall_callback: function(options, callback){
								waterfall_callback.call(this, options, callback);
							},
							getWaterFall_get: function(render, target){
								getWaterFall_get(render);
							},
							taptest: function(offset, e, target){
								console.log("tap")
							},
							swipetest: function(direction, offset, e, target){
								console.log(direction)
							},
							list_removeitem_click: function(e, target){
								e.preventDefault();
								list_removeitem_click(this);
							},
							list_upitem_click: function(e, target){
								e.preventDefault();
								list_upitem_click(this, target);
							},
							input_aerror: function(status, tip, target){
								input_aerror(this, tip);
							},
							select_change:function(e, target){
								select_change(this, target);
							},
							getselect_get: function(render, target){
								getselect_get(render);
							},
							pagenum_click: function(e, target){
								e.preventDefault();
								pagenum_click(this, target);
							},
							getform_get: function(render, target){
								getform_get(render);
							},
							test_keyup: function(e, target){
								test_keyup(this, target);
							},
							getnum_get: function(render, target){
								getnum_get(render);
							},
							getlist_post: function(render, target){
								getlist_post(render);
							},
							list_callback: function(elem, target){
								console.log(elem)
							},
							//gohome_click: function(e, target){
								//e.preventDefault();
								//gotab_click(this, target, "home", "gohomea");
							//},
							//goproduct_click: function(e, target){
								//e.preventDefault();
								//gotab_click(this, target, "product", "goproductb");
							//},
							//goservice_click: function(e, target){
								//e.preventDefault();
								//gotab_click(this, target, "service", "goservicec");
							//}
						}
					});
				});
			});

		})()
		</script>
	</body>
</html>